// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #007bff;
$secondary : #6c757d;
$accent    : #9C27B0;
// $secondary: linear-gradient(45deg, #6c757d, #78828b);
// $accent: linear-gradient(45deg, #9C27B0, #a55eb1);
// $primary: linear-gradient(45deg, #007bff, #0e62bd);
// $positive: linear-gradient(45deg, #28a745, #59ae6c);
// $negative: linear-gradient(45deg, #dc3545, #ef172c);
// $info: linear-gradient(45deg, #17a2b8, #0dc5e2);
// $warning: linear-gradient(45deg, #ffc107, #fcd14c);
$dark      : #1D1D1D;

$positive  : #28a745;
$negative  : #dc3545;

$info: #17a2b8;
$warning: #ffc107;

